@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

.intro{
    display: flex;
    justify-content: space-between;
    margin: 20px 50px 20px 50px;
}

.intro-info{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    width: 500px;
}

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.container{
    padding: 30px;
    width: 900px;
    margin-left: 250px;
}

.start{
    margin: 20px 200px 50px 50px;
    width: 1500px;
}

.start-elements{
    display: flex;
    align-items: center;
}

.start-info{
    width: 1000px;
    margin-right: 50px;
}

.start-info h1{
    font-size: 3em;
    line-height: 20px;
}

.start-info p{
    font-weight: 500;
}

.start-button{
    text-decoration: none;
    justify-content: center;
    border-radius: 25px;
    width: 20%;
    height: 10%;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    color: white;
}

.logo{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: 35px;
    border-top: 1px solid rgb(229, 229, 229);
    padding: 3%;
    border-bottom: 1px solid rgb(229, 229, 229);
    align-items: center;
    margin-left: 5%;
}

.center-title{
    text-align: center;
    margin-bottom: 5%;
    margin-left: 10%;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.collection{
    padding: 15px;
    box-shadow: 5px 5px 25px rgb(199, 199, 199);
}

.collection-detail{
    line-height: 100%;
}

.collection-price{
    font-weight: 100;
}

.collection-info{
    margin-top: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 0%;
    padding: 0%;
}

.collection-info p{
    margin-left: 25px;
}

.fa-solid.filled{
    color: orange;
}

.collection-infos p{
    line-height: 30%;
    color: gray;
}

.next{
    color: #E02C6D;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20%;
}

.bonus{
    margin: 20px 200px 50px 200px;
    width: 1200px;
}

.bonus-elements{
    display: flex;
}

.bonus-info{
    margin-left: 8%;
}

.bonus-info h1{
    font-size: 2em;
}

.bonus-info p{
    font-weight: 500;
}

.button{
    justify-content: center;
    height: 15%;
    width: 25%;
    background-color: #E02C6D;
    display: flex;
    align-items: center;
    color: white;
    cursor: auto;
}

.fa-arrow-right{
    margin-left: 10px;
}

.footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(10, 8, 38, 1);
    align-items: center;
    margin: 0%;
}

.footer-text{
    padding-top: 3em;
    line-height: 2vh;
}

.footer-text h4{
    font-weight: 500;
}

.footer-icon .fa-brands{
    margin-bottom: 2%;
    padding: 0.5%;
}

@media screen and (max-width: 688px){
    .collections{
        grid-template-columns: repeat(1, 1fr);
    }
}
