@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    padding: 30px;
    border-radius: 5px;
    margin-top: 21px;
}

.center-title{
    text-align: center;
}

.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.next{
    color: #E02C6D;
    justify-content: end;
    display: flex;
    align-items: center;
}

.footer{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: white;
    background-color: rgba(10, 8, 38, 1);
    align-items: center;
    margin: 0%;
}

.footer-text{
    padding-top: 3em;
    line-height: 2vh;
}